@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

nav{
  background-color: rgb(37, 37, 37);
  width: 100%;
  left: 0;
  top: 0;
  position: relative;
  padding: 10px;
}

.bi-apple{
  width: 35px;
}


.category-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  
  
}

.link-navbar{
  text-decoration: none;
  color: white;
  padding: 0 5px;
}

.App {
  text-align: center; 
}

.nombrePais{
  font-size: 1.5rem;
}

.buttons {
  background-color: white;
  border: none;
}

.buttonBuy {
  background-color: violet;
  border: none;
  margin: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: .2s;
  color: white;
}

.buttonBuy:hover {
  color: black;
  background-color: turquoise;
}

.carritoImg{
  width: 25px;
}

.card {
  width: 12rem;
  text-align: center;
  margin: 20px;
}

.img-card{
  width: 240px;
}

.card-main{
  background-color: rgb(37, 37, 37);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

.divMain{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.div-main-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  flex-direction: column;
}

.category{
  background-color: rgb(37, 37, 37);
  width: 820px;
  margin-top: 10px;
}

#category-p{
  color: white;
  margin: 0;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.limit{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 900px;
}

.main-cart{
  margin: 20px 0;
}

.second-cart{
  margin: 20px 0;
  border: 1px solid black; 
  height: 350px;
  border-radius: 20px;
  padding: 20px;
}

.card-item{
  border: 1px solid black;
  border-radius: 20px;
}

.img-cart {
  height: 200px;
}

.pedido {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
  margin-bottom: 0rem;
  color: rgb(36, 36, 36);
}

.separacion {
  background-color: rgb(36, 36, 36);
  height: 100%;
  width: 2px;
  height: auto;
  margin: 0 10px;
}

.pedido-2{
  margin-bottom: 0rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.pedido-3{
  margin-bottom: 0rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.pedido-4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-top: 15px;
}

.widget-count{
  position: absolute;
  background-color: red;
  border-radius: 50%;
  font-size: 0.8rem;
  color: white;
  padding: 0px 6px;
  margin-left: 17px;
  margin-top: -8px;
}

.button-cart{
  background-color: rgb(36, 36, 36);
  border: none;
  padding: 8px 10px;
  border-radius: 20px;
  color: white;
  font-family: 'Raleway', sans-serif;
  margin-left: 5px;
  transition: 0.3s;
  border: 1px solid rgb(36, 36, 36);
  }

  .button-cart-2{
  background-color: rgb(36, 36, 36);
  border: none;
  padding: 8px 80px;
  border-radius: 20px;
  color: white;
  font-family: 'Raleway', sans-serif;
  transition: 0.3s;
  border: 1px solid rgb(36, 36, 36);
  }

  .button-cart-2:hover{
    transform: scale(1.05);
    background-color: white;
    color: rgb(36, 36, 36);
  }

  .button-cart:hover{
    transform: scale(1.05);
    background-color: white;
    color: rgb(36, 36, 36);
    
  }

.letter {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0rem;
  line-height: 35px;
  color: rgb(117, 117, 117);
}

.letter-2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0rem;
  line-height: 35px;
  color: rgb(0, 0, 0);
}

.letter-3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0rem;
  line-height: 35px;
  color: rgb(36, 36, 36);
}

.logo-tacho {
  padding: 10px;
  border: 1px solid #ededed;
  border-radius: 50%;
  width: 3em;;
  transition: .3s;
}

.logo-tacho:hover{
  -webkit-filter: invert(100%);
    filter: invert(100%);
    background-color: rgb(219, 219, 219);
}

.detail {
  width: 100vh;
}

.img-detail {
  width: 400px;
}

.detail-main{
  border: 1px solid #ededed;
  box-shadow: gray 0px 0px 20px;
  padding: 50px;
  border-radius: 40px;
  transition: .3s;
}

.loading {
  margin-top: 280px;
}

.detail-main:hover{
  transform: scale(1.009);
  box-shadow: rgb(0, 0, 0) 0px 0px 30px;
}

.detail-p-1{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  line-height: 35px;
  color: rgb(36, 36, 36);
}

.detail-p {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 35px;
  color: rgb(59, 59, 59);
}

.hola{
  width: 500px;
}

.button-detail{
  border: none;
  background-color: rgb(36, 36, 36);
  padding: 10px;
  border: 1px solid #ededed;
  border-radius: 20px;
  color: white;
  font-family: "Raleway", sans-serif;
  transition: .3s;
  margin-top: 20px;
}

#detail{
  margin-left: 10px;
}

.button-detail:hover{
  border: 1px solid #ededed;
  background-color: rgb(190, 190, 190);
  color: black;
}

.cart-margin{
  margin-top: 20px;
}

